<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/new.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="container">
            <h1>Edit <%= book.name %></h1>
            <div class="newitem"> 
                <form action="/update/<%= book.name %>" method="POST">
                    <input type="text" class="input-field" name="title" placeholder="Name of the book" value="<%= book.name %>" />
                    <input type="text" class="input-field" name="url" placeholder="Link to the Book Cover Image" value="<%= book.image %>" />
                    <textarea name="description" class="input-field textarea-field" placeholder="Description"><%= book.description %></textarea>
                    <button type="submit" class="submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        Copyright © <%= new Date().getFullYear() %>
    </footer>
</body>
</html>